body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 200px;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("header.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn, .btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.divider {  
  width: 65px;
  border-bottom: 3px solid #F05F44;
  margin-bottom: 50px;
  height: 1px;
}